{# This file is inserted as the 'footer' of each listed record. #}
{% if extended|default() %}

    {% if record|taxonomy.tags is defined %}
    <div class="article-tags">
        <h4>Tags</h4>
        {% for tag in record|taxonomy.tags|default %}
            <span class="tag">{{ tag }}</span>
        {% endfor %}
    </div>
    {% endif %}

    {% set previous = record.previous('id') %}
    {% set next = record.next('id') %}

    {% if previous or next %}
    <div class="next-previous-links">
        {% if previous %}
            <a href="{{ previous.link }}" class="btn gray-light small prev">&laquo; {{ previous.title }}</a>
        {% endif %}
        {% if next %}
            <a href="{{ next.link }}" class="btn gray-light small next">{{ next.title }} &raquo;</a>
        {% endif %}
        <div class="clear"></div>
    </div>
    {% endif %}

    {% set relatedrecords = record.related() %}
    {% if relatedrecords is not empty %}
        <p class="meta">{{ __('general.phrase.related-content') }}
        <ul>
            {% for related in relatedrecords %}
                <li><a href="{{ related.link }}">{{ related.title }}</a></li>
            {%  endfor %}
        </ul>
        </p>
    {% endif %}
{% endif %}
